<nav id="navbar" class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img
        src="/Assets/nav-logo.png"
        alt="Zentrek"
        height="35"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a style="font-size: large;" class="nav-link" href="/listings/new">Add new Listing</a>
        <% if (!currUser) { %>
        <a style="font-size: large;" class="nav-link" href="/users/login"><b>Login/Signup</b></a>
        <% } else { %>
        <a style="font-size: large;" class="nav-link" href="/users/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
